.counter-box{
    background: #fff;
    border-radius: 10px;
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter-box h2{
    margin:0;
    font-size: 35px;
    position:relative;
    color:#4e4e4e;
}
.counter-box h2:after{
    content: '';
    width:70%;
    height: 2px;
    background:#4e4e4e;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;

}
.counter-box__content{
    display: flex;   
    align-items: center;
    justify-content: center;
}
.counter-box__content  p{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8c5592;
    margin: 10px;
    border-radius: 5px;
    height: 30px;

}
.counter-box  button{
    background: #fff;
    border: 1px solid #989898;
    border-radius: 5px;   
    cursor:pointer;
    color:#fff;
    width: 30px;
    height: 30px;
}
.counter-box button.reset-btn{
    margin:20px 0;
    color:#000;
    width: max-content;
    height: 30px;
}
.counter-box__content  button.decrease-btn{
    background: coral;

}
.counter-box__content .decrease-btn.disabled{
    pointer-events: none;


}
.counter-box__content  button.decrease-btn:hover{
    background: #d24512;
}
.counter-box__content  button.increase-btn{
    background:#a7d6a7;
}
.counter-box__content  button.increase-btn:hover{
    background: #4e8a4e;
}
.counter-box  button:hover{
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,.5);
}
.counter-box button:focus{
    outline:none;
}