

#root{
  width:100%;
}
  body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content img {
  max-width: 200px;
  margin-top: 20px;
}